.container__direction-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .container__direction-column-start{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
  }