@import '_fonts.scss';

// General Colors
$primaryColor: #1A87DC;
$secondaryColor: #F7BE20;
$darkColor: #222;
$primaryGrey: #E4E4E4;

// General Hovers
$primaryHover: #0E6CB6;
$secondaryHover: #d6a51f;

// Dimensions
$containerWidth: 419px;

//Fonts
$primaryFont: 'Poppins', sans-serif;


