.squared-input__rounded {
    width: 23%;
    aspect-ratio: 1;
    margin: 3px;
    border-radius: 10px;
    background: $primaryGrey;
    text-align: center;
    color: $darkColor;
    text-align: center;
    font-family: $primaryFont;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}